In [78]:
import numpy as np
from plotnine import *
import pandas as pd

In [79]:
data = [1, 0, 2, 4, 5, 6, 4, 2, 0, 1]
df = pd.DataFrame({"count": data,
                   "id": range(len(data))})

In [80]:
epsilon = 2.0
sensitivity = 1

def add_laplace_noise(count, epsilon, sensitivity):
    scale = sensitivity / epsilon
    noise = np.random.laplace(0, scale)
    return count + noise

df['dp_count_naive'] = df['count'].apply(lambda x: add_laplace_noise(x, epsilon, sensitivity))

df = pd.melt(df, id_vars=['id'], value_vars=['count', 'dp_count_naive'])

In [98]:
# k-anonymity example with hline - red annotations
df_kanon = df[[x in ['count'] for x in df['variable']]]
df_kanon['value'] = df_kanon['value'].apply(lambda x: 0 if x < 2 else x)

p = (ggplot(df_kanon) +
 geom_bar(aes(x='id', y='value', fill='variable'), stat='identity', position='dodge') + 
 geom_hline(yintercept=0, size=0.5) +
 geom_hline(yintercept=2, linetype='dashed', size=0.5) +
 scale_fill_manual(values=('black', '#8f7cc3')) + 
 theme_void() + 
 theme(legend_position='none')
)
p
# save to png file
p.save('../output/figs/k_anonymity_example.png', width=6, height=1, dpi=300)

/var/folders/1w/df4rd6vj35b7jxk4ym7247wm0000gn/T/ipykernel_22047/399990939.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:587: PlotnineWarning: Saving 6 x 1 in image.
/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:588: PlotnineWarning: Filename: ../output/figs/k_anonymity_example.png

In [97]:
p = (ggplot(df[[x in ['count', 'dp_count_naive'] for x in df['variable']]]) +
 geom_bar(aes(x='id', y='value', fill='variable'), stat='identity', position='dodge') + 
 geom_hline(yintercept=0, size=0.5) +
 scale_fill_manual(values=('black', '#8f7cc3')) + 
 theme_void() + 
 theme(legend_position='none')
)

# save to png file
p.save('../output/figs/gdp_naive_example.png', width=5, height=1.2, dpi=300)

/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:587: PlotnineWarning: Saving 5 x 1.2 in image.
/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:588: PlotnineWarning: Filename: ../output/figs/gdp_naive_example.png

In [119]:
# two local dps (smaller)
data1 = [1, 0, 2, 0, 2, 1, 4, 2, 0, 1]
data2 = [1, 2, 4, 3, 2, 1, 2, 1, 0, 1]
df = pd.DataFrame({"count": data1 + data2,
                    "uid": ['1']*len(data1) + ['2']*len(data2),
                   "id": list(range(len(data1))) + list(range(len(data2)))})
df['dp_count'] = df['count'].apply(lambda x: add_laplace_noise(x, epsilon, sensitivity))

df = pd.melt(df, id_vars=['id', 'uid'], value_vars=['count', 'dp_count'])

df

    id uid  variable     value
0    0   1     count  1.000000
1    1   1     count  0.000000
2    2   1     count  2.000000
3    3   1     count  0.000000
4    4   1     count  2.000000
5    5   1     count  1.000000
6    6   1     count  4.000000
7    7   1     count  2.000000
8    8   1     count  0.000000
9    9   1     count  1.000000
10   0   2     count  1.000000
11   1   2     count  2.000000
12   2   2     count  4.000000
13   3   2     count  3.000000
14   4   2     count  2.000000
15   5   2     count  1.000000
16   6   2     count  2.000000
17   7   2     count  1.000000
18   8   2     count  0.000000
19   9   2     count  1.000000
20   0   1  dp_count  1.059393
21   1   1  dp_count  0.028855
22   2   1  dp_count  2.538343
23   3   1  dp_count  0.427153
24   4   1  dp_count  2.071161
25   5   1  dp_count  0.431783
26   6   1  dp_count  3.618306
27   7   1  dp_count  2.093541
28   8   1  dp_count  0.516642
29   9   1  dp_count  2.167655
30   0   2  dp_count  1.255710
31   1   2  dp_count  2.048079
32   2   2  dp_count  4.318391
33   3   2  dp_count  2.274246
34   4   2  dp_count  1.752967
35   5   2  dp_count -0.082289
36   6   2  dp_count  1.853261
37   7   2  dp_count  0.807304
38   8   2  dp_count  1.510379
39   9   2  dp_count  1.210260

In [122]:
p = (ggplot(df) +
 geom_bar(aes(x='id', y='value', fill='variable'), stat='identity', position='dodge') + 
 geom_hline(yintercept=0, size=0.5) +
 scale_fill_manual(values=('black', '#8f7cc3')) + 
 facet_wrap('uid', nrow=2) +
 theme_void() + 
 theme(legend_position='none',
 strip_text=element_blank())
)

p.save('../output/figs/ldp_naive_example.png', width=5, height=1.2, dpi=300)

/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:587: PlotnineWarning: Saving 5 x 1.2 in image.
/Users/hamishgibbs/.pyenv/versions/3.9.10/lib/python3.9/site-packages/plotnine/ggplot.py:588: PlotnineWarning: Filename: ../output/figs/ldp_naive_example.png